<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="../public/style/common.css">
    <script type="module" src="./main.js"></script>
    <title>냉장고 비우기</title>
</head>

<body>
    <div id="container" class="main_container">
        <div class="shadow"></div>
        <header>
            <div class="header_wrap">
                <h1 class="header_title">맞춤 레시피</h1>
                <sapn class="all_remove_btn">전체 삭제</sapn>
            </div>
        </header>
        <section class="main"></section>
        <a href="http://127.0.0.1:5500/views/customized/index.html#">
            <button class="costomized_btn">맞춤 레시피 보기</button>
        </a>
        <button class="open_modal_btn"></button>
    </div>
    <div class="add_modal">
        <span class="touch_close"></span>
        <h2 class="modal_title">재료 추가하기</h2>
        <div class="add_input">
            <label for="food">
                <h2>냉장고 재료</h2>
                <input type="text" name="food" id="ingred_txt" placeholder="냉장고 재료를 추가해주세요(하나만 가능)">
            </label>
            <label for="food">
                <h2>유통 기한</h2>
                <input type="date" name="date" id="expiration_date">
                <p class="alarm_message">*유통기한 기준일은 현재 일자입니다.</p>
            </label>
            <button class="submit_btn" type="submit">재료 추가하기</button>
        </div>
    </div>
</body>

</html>