<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="../public/style/common.css">
    <script type="module" src="./main.js"></script>
    <title>냉장고 비우기</title>
</head>

<body>
    <header>
        <h1 class="header_title">추천 레시피</h1>
    </header>
    <section class="main">
        <div class="empty_wrap">
            <img class="empty_icon" src="../../image/ refrigerator_icon.png" alt="냉장고 아이콘" />
            <span class="empty_title">마음에 드는 레시피를<br />지금 바로 추가해보세요.</span>
        </div>
    </section>
</body>

</html>