<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./recipe.css">
    <link rel="stylesheet" href="../public/style/common.css">
    <title>냉장고 레시피</title>
</head>

<body>
    <header>
        <h1 class="header_title">레시피</h1>
    </header>
    <div class="container">
        <section id="section" class="recipe_filter">
            <div class="recipe_filter_wrap">
                <span>낮은 난이도</span>
                <span>높은 난이도</span>
                <span>짧은 조리시간</span>
                <span>긴 조리시간</span>
            </div>
        </section>
        <section id="section" class="recipe_item">
            <ul class="recipe_lists"></ul>
        </section>
    </div>

    <script type="module" src="./recipe.js"></script>
</body>

</html>