<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../image/refrigerator_icon.png">
    <link rel="stylesheet" href="../../public/style/common.css">
    <link rel="stylesheet" href="./customized.css">
    <script type="module" src="./customized.js"></script>
    <title>냉장고 파먹기</title>
</head>

<body>
    <div id="container">
        <header>
            <div class="header_wrap">
                <span class="prev_btn"></span>
                <h1 class="header_title">맞춤 레시피</h1>
            </div>
        </header>
        <section class="item">
            <ul class="item_lists lists_top"></ul>
        </section>
    </div>
</body>

</html>